.discount-banner{
    background: url('https://i.ibb.co/v1HtzVG/discount-banner-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px;
    background-position: center center;
}